.progression {
  font : {
    size: 32px;
    weight: bold;
    family: sans-serif;
  }
  text: {
    transform: uppercase;
  }
  z-index: 1;
}

.workout {
  @extend .progression;
  color: yellow;
}

.nutrition {
  @extend .progression;
}
