.about-us {
  color: grey;
  text : {
    transform: uppercase;
  }
}

.dream {
  color: teal;
  font : {
    weight: bold;
    size: 30px;
  }
  text : {
    transform: uppercase;
  }
}

.serve {
  color: #444;
  font : {
    weight: bold;
    size: 30px;
  }
  text : {
    transform: uppercase;
  }
}
